= simple_form_for @card do |f|
  // ERROR MESSAGES
  = render 'shared/errors', model: @card

  .row
    .col
      .form-group
        = f.input :name, autofocus: true

      .form-group
        = f.input :description

      .form-group
        = f.input :icon, placeholder: 'Example: :cat:'
        %small.form-text.text-muted
          = link_to 'Browse Emojis', 'http://www.emoji-cheat-sheet.com/', target: '_blank'

  .row.mt-3
    .col
      %h3 Goal
      %p.text-muted
        You can define an optional
        %strong monthly goal
        of hours for this punchcard.

      = f.fields_for :goal, @goal do |goal_fields|
        .form-group
          = goal_fields.input :monthly_hours, input_html: { in: 0.5..10, step: 0.5 }, required: true

  .form-footer
    = f.submit ( f.object.new_record? ? 'Create Punchcard' : 'Save Changes'), class: 'btn btn-success'
