.card
  .card-body.text-center
    %h5 Monthly Goal

    - if @card.goal.present?
      .display-4.font-weight-bold.mb-4
        = "#{@card.current_month_hours} / #{@card.goal.monthly_hours} Hours"

      .progress.progress-sm
        .progress-bar{class: "#{progress_bar_color(@card.goal, @card.current_month_hours)}", style: "width: #{progress_bar_width(@card.goal, @card.current_month_hours)}%"}
    - else
      %p.text-small
        You haven't set a goal for this punchcard.
        = link_to 'Set goal', edit_punchcard_path(@card)
