.panel.panel-default
  .panel-heading
    = emojify card.icon, size: :small
    %strong= card.name

    .btn-toolbar.pull-right
      = render 'shared/manage_resource', resource: card

      .btn-group.btn-group-xs
        = link_to new_punchcard_record_path(card), class: 'btn btn-success',
            data: { behavior: 'modal' }, remote: true do
          %span.fa.fa-calendar-check-o
          Punch
  .panel-body
    .row
      .col-md-10.col-md-offset-1
        .heatmap{ id: "cal-heatmap-#{card.id}", 'data-punchcard': card.id }
        .btn-group.btn-group-xs
          .btn.btn-default{ id: "cal-previous-#{card.id}" }
            %span.fa.fa-arrow-left
          .btn.btn-default{ id: "cal-next-#{card.id}" }
            %span.fa.fa-arrow-right

    = render 'punchcards/stats', card: card

  %ul.list-group
    - unless card.records.empty?
      = render card.records.last, card: card
    - else
      %li.list-group-item
        %p.text-center No entries



  .panel-footer
    = link_to 'View all entries', punchcard_records_path(card), class: 'small'