.card.my-5
  .card-body
    %h3.card-title
      = emojify card.icon, size: :medium
      %strong= card.name

      %ul.list-inline.pull-right
        %li.list-inline-item
          = link_to new_punchcard_record_path(card), data: { behavior: 'modal' }, remote: true do
            = image_tag 'icons/date_task.png', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'Punch Record'

        %li.list-inline-item
          = link_to [:edit, card] do
            = image_tag 'icons/pencil.png', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'Edit Punchcard'
        %li.list-inline-item
          = link_to card, method: :delete, data: { confirm: 'Are you sure?' } do
            = image_tag 'icons/delete.png', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'Delete Punchcard'


    %h6.card-subtitle.mb-2.text-muted= card.description

    / HEATMAP
    .row
      .col-md-12.mx-auto
        .heatmap{ id: "cal-heatmap-#{card.id}", 'data-punchcard': card.id }

        .btn-group.btn-group-sm
          .btn.btn-secondary{ id: "cal-previous-#{card.id}" }
            %span.fa.fa-arrow-left
          .btn.btn-secondary{ id: "cal-next-#{card.id}" }
            %span.fa.fa-arrow-right

    / STATS
    = render 'punchcards/stats', card: card

  - unless card.records.empty?
    .card-footer.text-muted
      %small
        Last updated on
        = card.records.last.date.strftime('%A %B %d %Y')

        .pull-right
          = link_to 'View all entries', punchcard_records_path(card)
