.row
    .col-md-12
        %h3
            = @card.name
            .btn-group.pull-right
                = link_to new_punchcard_record_path(@card), class: 'btn btn-sm btn-default' do
                    %i.fa.fa-calendar-check-o
                    Punch
                    
                = link_to [:edit, @card], class: 'btn btn-sm btn-default' do
                    %i.fa.fa-pencil
                    
                = link_to punchcard_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do
                    %i.fa.fa-trash

        %p.text-center= auto_link(@card.description)

        // INSERT CAL HEAT MAP
        .row
            .col-md-6.col-md-offset-1
                #cal-heatmap{ "data-id" => "#{@card.id}" }
                    :javascript
                        /* Get the corresponding Punchcard ID */
                        var punchcard_id = $("#cal-heatmap").attr('data-id');
                        
                        /* Construct a REST path for this punchcard */
                        var path = Routes.punchcard_records_path(punchcard_id, {format: 'json'});
                        
                        var cal = new CalHeatMap();
                        cal.init({
                            data: path,
                            start: new Date().setMonth(new Date().getMonth() - 6),
                            minDate: new Date().setMonth(new Date().getMonth() - 6),
                            maxDate: new Date(),
                            domain: "month",
                            subDomain: "day",
                            itemName: ["hour", "hours"],
                            cellSize: 12,
                            range: 7,
                            rowLimit: 7,
                            legendVerticalPosition: "bottom",
                            legendHorizontalPosition: "right",
                            tooltip: true,
                            weekStartOnMonday: false,
                            domainLabelFormat: "%b",
                            label: {
                                position: "top"
                            },
                            legend: [1, 3, 5]
                            
                        });
                        
        %hr
        
        #record_area
            %h3 Latest Records
            
            - @records.each do |record|
                %h4
                    = link_to record.date.strftime("%A %B %d %Y"), [:edit, @card, record]
                    %small
                        (
                        = record.hours
                        %i.fa.fa-clock-o
                        )
                    
                    .pull-right
                        = link_to [@card, record], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' do
                            %i.fa.fa-trash
                
                = markdown(record.description)
                
                
                %hr