.card
  .card-header
    %h3.card-title
      = link_to card do
        = emojify card.icon, size: :small
        = card.name

    .card-options
      = link_to new_punchcard_record_path(card), class: 'btn btn-success btn-sm', 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'New Entry' do
        %i.fe.fe-check-square
      = link_to card, class: 'btn btn-secondary btn-sm ml-2', 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'View Punchcard' do
        %i.fe.fe-eye

  .card-body.mx-auto
    .heatmap-summary{ id: "cal-heatmap-#{card.id}", 'data-punchcard': card.id }

  - unless card.records.empty?
    .card-footer
      %small.text-muted
        Last Updated on
        = card.records.last.date.strftime('%A %B %d %Y')
