.row.cal-footer
  .col-md-6.cal-footer-column
    .text-center
      %small.text-muted Total Hours
      %h3
        %strong
          = format_hours(card.total_hours)
          hours
      %small.text-muted
        = card.start_time
        –
        = Time.current.strftime("%B %d %Y")
  .col-md-6
    .text-center
      %small.text-muted Total Entries
      %h3
        %strong
          = card.records.count
          entries
      %small.text-muted
        = card.start_time
        –
        = Time.current.strftime("%B %d %Y")
