.panel.panel-default
  .panel-body
    = render 'shared/errors', model: @record

    .row
      .col-md-2
        .text-center
          = emojify @card.icon, size: :big
          %h3= @card.name

          %ul.list-inline
            %li= link_to 'Edit', [:edit, @card]
            %li= link_to 'Delete', @card, method: :delete, data: { confirm: 'Are you sure?' }

          %button.btn.btn-success.btn-sm{ 'data-toggle': 'modal', 'data-target': '#new-record-modal' }
            %span.fa.fa-calendar-check-o
            Punch

      .col-md-10
        = render 'punchcards/heatmap'
        = render 'punchcards/stats'

    %hr

    .row
      .col-md-12
        #record_area
          %h3 Latest Entries

          = render @card.records.all.order('created_at DESC').limit(5)


    = render 'records/form'