%h2
  = emojify @card.icon, size: :medium
  = @card.name

  .pull-right
    .btn-toolbar
      .btn-group.btn-group-sm.mr-2
        = link_to new_punchcard_record_path(@card), class: 'btn btn-success rounded' do
          %i.fa.fa-plus
          %strong Punch New Entry
      .btn-group.btn-group-sm.mr-2
        = link_to [:edit, @card], class: 'btn btn-secondary' do
          %i.fa.fa-pencil
        = link_to @card, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary' do
          %i.fa.fa-trash

%p.text-muted= @card.description

.row
  .col-md-12
    / NAV
    %ul#cardTabs.nav.nav-tabs.mb-3
      %li.nav-item
        %a#overview-tab.nav-link.active{href: '#overview', 'data-toggle': 'tab'}
          %strong Overview
      %li.nav-item
        %a#entries-tab.nav-link{href: '#entries', 'data-toggle': 'tab'}
          %strong Entries
          %span.badge.badge-primary.badge-pill= @card.records.count


#cardTabsContent.tab-content
  #overview.tab-pane.fade.show.active
    = render 'overview'
  #entries.tab-pane.fade
    = render 'entries'
