.page-header
  %h1.page-title
    = emojify @card.icon, size: :medium
    = @card.name

  .page-options.d-flex
    .btn-toolbar
      .btn-group.btn-group-sm.mr-2
        = link_to new_punchcard_record_path(@card), class: 'btn btn-success' do
          %i.fe.fe-check-square
          %strong Punch New Entry
      .btn-group.btn-group-sm.mr-2
        = link_to [:edit, @card], class: 'btn btn-secondary' do
          %i.fe.fe-edit-2
          Edit
        = link_to @card, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary' do
          %i.fe.fe-trash
          Delete

.row.row-cards
  = render 'overview'

  .col-lg-12
    = render 'heatmap'

.row.row-cards
  .col-lg-6
    = render 'latest_entries'
  .col-lg-6
    = render 'comparisons'
    = render 'goal_progress'
