= form_for [@card, @record] do |f|

    // ERROR MESSAGES
    = render "shared/errors", model: @record
    
    %p
        %b Punchcard:
        = @card.name

    .form-group
        = f.label :date
        = f.date_select :date, class: 'form-control'
    
    .form-group
        = f.label :hours
        = f.number_field :hours, min: 1, :value => @record.hours, class: 'form-control'
    
    .form-group
        = f.label :description
        %br
        %p.small
            %a{ href: 'https://guides.github.com/features/mastering-markdown/', target: '_blank'} 
                %i.fa.fa-font
                Styling with Markdown is supported
        = f.text_area :description, rows: 5, style: "resize: vertical;", class: 'form-control'
        
    .form-group
        = f.submit ( f.object.new_record? ? "Punch Record" : "Save Changes"), class: 'btn btn-success'
        = link_to 'Cancel', punchcards_path, class: 'btn btn-default'