%li.list-group-item
  .d-flex.w-100.justify-content-between
    %h5= link_to record.date.strftime("%A %B %d %Y"), [card, record]

    %ul.list-inline.text-muted
      %li.list-inline-item
        %span.fa.fa-clock-o
        %strong= format_hours(record.hours)
      %li.list-inline-item
        = link_to [:edit, card, record], remote: true do
          %span.fa.fa-pencil
      %li.list-inline-item
        = link_to [card, record], method: :delete do
          %span.fa.fa-trash

  %p= truncate(record.description.html_safe, length: 100)