%li.list-group-item
  %h5.list-group-item-heading
    %strong= link_to record.date.strftime("%A %B %d %Y"), [card, record]

    %ul.list-inline.pull-right.text-muted
      %li
        %span.fa.fa-clock-o
        %strong= format_hours(record.hours)
      %li
        = link_to [:edit, card, record] do
          %span.fa.fa-pencil
      %li
        = link_to [card, record], method: :delete do
          %span.fa.fa-trash

  %p.list-group-item-text.small
    = truncate(record.description.html_safe, length: 40)