%h2= "#{@card.name} - All Entries"

/ SEARCH
.row
  .col-md-12
    = render 'search_records'

.row
  .col-md-12
    .list-group
      - @records.each_with_index do |record|
        = link_to [@card, record], class: 'list-group-item list-group-item-action flex-column align-items-start' do
          .d-flex.w-100.justify-content-between
            %h6.mb-1
              %strong= record.date.strftime('%A %B %d %Y')
            %h6.text-muted
              %span.fa.fa-clock-o
              = record.hours
              Hours

          %p.mb-1= simple_format h record.description

    / PAGINATION
    .text-center
      = will_paginate @records, renderer: BootstrapPagination::Rails, class: 'pagination-sm'