.page-header
  %h1.page-title
    = emojify @card.icon, size: :medium
    = @record.punchcard.name

.card
  .card-header
    %h3.card-title
      = @record.date.strftime('%A %B %d %Y')
      %span.badge.badge-default
        %i.fe.fe-clock
        = @record.hours
        Hours

    .card-options
      = link_to [:edit, @card, @record], class: 'btn btn-sm btn-secondary' do
        %i.fe.fe-edit-2
        Edit

      = link_to [@card, @record], method: :delete, class: 'btn btn-sm btn-secondary ml-2', data: { confirm: 'Are you sure?' } do
        %i.fe.fe-trash
        Delete

  .card-body
    = simple_format h @record.description

    .row.mt-5
      .col
        - unless @record.previous.blank?
          = link_to [@record.punchcard, @record.previous], class: 'btn btn-sm btn-pill btn-secondary' do
            %i.fe.fe-chevron-left
        - unless @record.next.blank?
          .float-right
            = link_to [@record.punchcard, @record.next], class: 'btn btn-sm btn-pill btn-secondary' do
              %i.fe.fe-chevron-right
