.page-header
    %h2
        %span= emojify @record.punchcard.icon
        = @record.punchcard.name

%h4
    = @record.date.strftime("%A %B %d %Y")
    %small
        %i.fa.fa-clock-o
        = @record.hours
        
= simple_format h markdown(@record.description)

.text-center
    %ul.list-inline
        %li
            = link_to [:edit, @card, @record] do
                %i.fa.fa-pencil
                Edit Record
        %li
            = link_to [@card, @record], method: :delete, data: { confirm: 'Are you sure?' } do
                %i.fa.fa-trash
                Delete Record

%hr

= link_to root_path do
    %i.fa.fa-arrow-left
    Back