%h2= @record.punchcard.name

%h5.text-center
  = @record.date.strftime("%A %B %d %Y")
  %br
  %small.text-muted
    %span.fa.fa-clock-o
    = @record.hours

.row
  .col-md-12
    = @record.description.html_safe

    / PAGING
    %nav
      %ul.pagination.justify-content-center
        - unless @record.previous.blank?
          %li.page-item
            = link_to '←', [@record.punchcard, @record.previous], class: 'page-link'

        - unless @record.next.blank?
          %li.page-item
            = link_to '→', [@record.punchcard, @record.next], class: 'page-link'

.text-center
  %ul.list-inline
    %li.list-inline-item
      = link_to [:edit, @card, @record] do
        = image_tag 'icons/pencil.png'
        Edit Record
    %li.list-inline-item
      = link_to [@card, @record], method: :delete, data: { confirm: 'Are you sure?' } do
        = image_tag 'icons/delete.png'
        Delete Record
