.page-header
  %h1.page-title
    Today's Entries
    - unless @todays_records.blank?
      %span.badge.badge-default= @todays_records.count

.row.my-5
  .col
    - unless @todays_records.blank?
      .card
        .table-responsive
          %table.table.table-hover.table.outline.table-vcenter.text-nowrap.card-table
            %thead
              %tr
                %th.text-center
                %th Punchcard
                %th Date
                %th Decription
                %th.text-center Hours
                %th
            %tbody
              - @todays_records.each do |record|
                %tr
                  %td.text-center= emojify record.punchcard.icon, size: :small
                  %td= record.punchcard.name
                  %td= record.date.strftime('%A %B %d %Y')
                  %td= simple_format h record.description
                  %td.text-center
                    %span.badge.badge-default= record.hours
                  %td.text-center
                    = link_to [record.punchcard, record], class: 'btn btn-sm btn-secondary' do
                      %i.fe.fe-eye

                    = link_to [:edit, record.punchcard, record], class: 'btn btn-sm btn-secondary ml-2' do
                      %i.fe.fe-edit-2
    - else
      .jumbotron
        .text-center
          = image_tag 'https://png.icons8.com/dusk/64/000000/edit-property.png'
          %p
            There are no records for today. Visit
            = link_to 'your punchcards', punchcards_path
            to log some records.
