.row
    .col-md-12
        %footer.text-center
            %p
                = link_to 'Home', root_path
                ·
                = link_to 'Terms & Conditions', root_path
                ·
                = link_to 'Privacy', root_path
                ·
                = link_to 'About', root_path
                ·
                = link_to 'FAQ', root_path
                ·
                = link_to 'Contact', root_path
            
            %p
                PunchCard &copy; 2016
        
            %p
                %a{:href => "#"}
                    %i.fa.fa-facebook
            
                
                