.col-md-2
  = link_to root_path do
    = image_tag 'https://png.icons8.com/dusk/64/000000/timer.png', class: 'mb-5'

  %nav.nav.flex-column
    = link_to punchcards_path, class: 'nav-link' do
      = image_tag 'icons/time.png'
      Punchcards
    = link_to today_path, class: 'nav-link' do
      = image_tag 'icons/date.png'
      Today
