!!! 5

%html
%head
  = render 'layouts/head'

  / Font Awesome
  = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"

  / Cal-Heat Map CDN
  = javascript_include_tag '//d3js.org/d3.v3.min.js'
  = javascript_include_tag '//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js'
  = stylesheet_link_tag '//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css'

%body
  = render 'layouts/navbar'

  .container
    = render 'layouts/alerts'

    .row
      .col-md-12
        = yield

#modal-container