!!! 5

%html
  %head
    = render 'layouts/head'

    / Font Awesome
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"

    / Cal-Heat Map CDN
    = javascript_include_tag '//d3js.org/d3.v3.min.js'
    = javascript_include_tag '//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js'
    = stylesheet_link_tag '//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css'

  %body
    .container.m-5
      .row.mb-2
        .col-md-12
          .pull-right
            - if user_signed_in?
              .dropdown.show
                %a.dropdown-toggle{'data-toggle': 'dropdown', href: '#'}= current_user.email

                .dropdown-menu
                  .dropdown-divider
                  = link_to logout_path, method: :delete, class: 'dropdown-item' do
                    = image_tag 'icons/door_out.png'
                    Logout

      .row
        = render 'layouts/nav'

        / CONTENT
        .col-md-10
          = render 'layouts/alerts'

          = yield

      %hr
      = render 'layouts/footer'

  #modal-container
