!!! 5

%html
  %head
    = render 'layouts/head'

    / Cal-Heat Map CDN
    = javascript_include_tag '//d3js.org/d3.v3.min.js'
    = javascript_include_tag '//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js'
    = stylesheet_link_tag '//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css'

  %body
    = render 'layouts/header'
    = render 'layouts/nav'
    = render 'layouts/alerts'

    / CONTENT
    .my-3.my-md-5
      .container
        = yield

    = render 'layouts/footer'
