!!! 5

%html
  %head
    %title Hourglass - Pricing

    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'landing'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Quicksand:400,500,700', rel: 'stylesheet'

    = javascript_include_tag 'application'

  %body
    = yield