!!! 5

%html
  %head
    %title Chroniker :: Pricing

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    = render 'layouts/header'

    .my-3.my-md-5
      .container
        = yield

    = render 'layouts/footer'
